img{ 
width:500px ;







}
section{

display:flex



}



header{ 
    
	width: 900px;
	

    
    margin-bottom: 10px;



}





























